*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body{
    background:  #56baed;
}
.select-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 330px;
    width: 100%;
}
.select-box header{
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.select-box .title{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}
.select-box .option{
    display: flex;
    width: 100%;
}
.option button{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
    border: none;
    outline: none;
    background: #56baed;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.option button:hover{
    transform: scale(0.96);
}
.option button.playerX{
    margin-right: 5px;
}
.option button.player0{
    margin-left: 5px;
}